# Dependencies
node_modules/
*/node_modules/

# WhatsApp Auth Sessions & Cache (Important: Jaga keamanan session WA)
server/sessions/
sessions/

# Windows local portable binaries
.bin/

# Environment & Logs
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db
